apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 510491242343.dkr.ecr.us-east-1.amazonaws.com/bombo-086:front-latest
        ports:
        - containerPort: 80
