apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 510491242343.dkr.ecr.us-east-1.amazonaws.com/bombo-086:backend
        ports:
        - containerPort: 5000
